<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/game.css') }}"
    />
    <title>KraftAI</title>
  </head>
  <body>
    <button id="getWordButton">Get Word</button>
    <button id="changeBrush">Change Brush</button>
    <h1 id="wordDisplay">Default</h1>
    <h1 id="ocrResult">Default</h1>
    <canvas id="canvas"></canvas>
    <script src="../static/js/gen-word.js"></script>
    <script src="../static/js/canvas.js"></script>
    <script src="../static/js/ocr-script.js"></script>
  </body>
</html>
