<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <title>KraftAI</title>
  </head>
  <body>
    <button id="getWordButton"></button>
    <div id="word-bubble"></div>
    <div id="ocr-result"></div>
    <canvas id="canvas"></canvas>
    <script src="../static/js/canvas.js"></script>
    <script src="../static/js/ocr-script.js"></script>
    <script src="../static/js/gen-word.js"></script>
  </body>
</html>
