body,
html {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 255, 255);
}

#canvas {
  position: absolute;
  background: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.head-1{
  background-color: #ffd139;
  display: flex;
  justify-content: space-around;
  margin: 0;
}
.head-2{
  background-color: #ababab;
  height: 0.3rem;
  border-color: none;
}

#ocrResult {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(56, 56, 56);
}

#changeBrush {
  position: absolute;
  right: 3rem;
  top: 8rem;
}

#timer {
    position: absolute;
    left: 1rem;
    top: 0.05rem;
}

button img {
  width: 3rem;
  height: 3rem;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 25%;
}